.main-container {
    background-color: #fff;
    margin-top: 44px;
    margin-bottom: 44px;
    display: flex;
}

.content-container {
    width: 100%;
    max-width: 935px;
    padding: 0 0 8px;
    margin: 0 auto;
    display: flex;
}

.content {
    width: 100%;
    max-width: 614px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.stories {
    width: 100%;
    background-color: #fff;
    padding: 16px 0;
    position: relative;
    overflow: hidden;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.story {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 6px;
}

.story__avatar {
    position: relative;
}

.story__border {
    width: 64px;
    height: 64px;
    fill: none;
    stroke: #C7C7C7;
    stroke-width: 1.5;
}

.story__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

.story__user {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    max-width: 72px;
}

.stories__content {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    padding: 0 16px;
    position: relative;
}

.stories__content::-webkit-scrollbar {
    display: none;
}