.main-container {
    background-color: #fff;
    margin-top: 44px;
    margin-bottom: 44px;
    display: flex;
}

.content-container {
    width: 100%;
    max-width: 935px;
    padding: 0 0 8px;
    margin: 0 auto;
    display: flex;
}

.content {
    width: 100%;
    max-width: 614px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.stories {
    width: 100%;
    background-color: #fff;
    padding: 16px 0;
    position: relative;
    overflow: hidden;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.story {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 6px;
}

.story__avatar {
    position: relative;
}

.story__border {
    width: 64px;
    height: 64px;
    fill: none;
    stroke: #C7C7C7;
    stroke-width: 1.5;
}

.story__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

.story__user {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    max-width: 72px;
}

.stories__content {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    padding: 0 16px;
    position: relative;
}

.stories__content::-webkit-scrollbar {
    display: none;
}

.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post__header {
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.post__profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.post__user {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    text-decoration: none;
}

.post__more-options {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post__content {
    display: flex;
    position: relative;
}

.post__medias {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.post__footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 4px;
}

.post__buttons {
    display: flex;
    position: relative;
}

.post__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.post__button--align-right {
    margin-left: auto;
}

.post__infos {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 10px;
}

.post__likes,
.post__descriptions {
    display: flex;
}

.post__likes {
    align-items: center;
    gap: 6px;
}

.post__likes-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}